@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body {
  background-color: #000000;
  color: #ffffff;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 750;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 28px;
}

p {
  margin-bottom: 1rem;
  font-size: 16px;
}

li {
  font-size: 16px;
}

a {
  color: #ffffff;
  text-decoration: underline;
  transition: color 0.3s ease;
}

a:hover {
  color: #ffcc00;
}
